html{
  margin: 0;
  padding: 0;
}

.header {
	position: fixed;
	width: 80%;
	z-index: 10;
  padding-top: 1em;
  background-color: white;
}

.main {
	margin-top: 12em;
}

#message-frame {
	margin-left: 3em;
	border: 1px solid #000;
	width: 90%;
	min-height: 50vh;
}

.checkbox {
	text-align: center;
}

h1 {
	display: inline;
}

input#message-input {
	margin: 0.5em;
	width: 50%;
	border: 1px solid #000;
}

p.messages-title {
	font-size: 1.5em;
	margin-left: 2em;
}

p.message {
	margin: 1em;
}


/*********  CHECKBOX TOGGLE OPTIONS  **********/
.dark-theme-custom{
  background-color: darkslategray;
  color: white;
}

.large-text-custom{
  font-size: 2em;
}

/**  CHECKBOX TOGGLE LOCK **/
#bgColorChoice, #fontChoice, #bgImgChoice, #saveModal, #cancelModal, #message-input, .delete-btn, .edit-btn, .changeTheme, .clearTheme, #clear-board{
	color: black;
}
/********** MODAL STYLES ************/

.modal-content { 
	padding: 20px;
}